:root {
  --background-color: #f5f5f5;
  --text-color: #333333;
  --button-color-primary: #5e6ad2;
  --button-primary-hover-color: #4e5bb2;
  --button-color-secondary: #a8a8a8;
  --button-secondary-hover-color: #949494;
  --button-color-text: #ffffff;
  --header-background-color: #e0e0e0;
  --accent-color: #87aedf;
  --border-color: #dadada;
}

/* Button styles */
.btn-primary {
  background-color: var(--button-color-primary);
  color: var(--button-color-text);
}

.btn-primary:hover {
  background-color: var(--button-primary-hover-color);
}

.btn-secondary {
  background-color: var(--button-color-secondary);
  color: var(--button-color-text);
}

.btn-secondary:hover {
  background-color: var(--button-secondary-hover-color);
}

/* Add other global styles as needed */
